################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InterjuFeladat/InterjuFeladat/obj/Debug/netcoreapp3.1/InterjuFeladat.pdb
/InterjuFeladat/InterjuFeladat/bin/Debug/netcoreapp3.1/InterjuFeladat.runtimeconfig.json
/InterjuFeladat/InterjuFeladat/bin/Debug/netcoreapp3.1/InterjuFeladat.runtimeconfig.dev.json
/InterjuFeladat/InterjuFeladat/bin/Debug/netcoreapp3.1/InterjuFeladat.pdb
/InterjuFeladat/InterjuFeladat/bin/Debug/netcoreapp3.1/InterjuFeladat.exe
/InterjuFeladat/InterjuFeladat/bin/Debug/netcoreapp3.1/InterjuFeladat.dll
/InterjuFeladat/InterjuFeladat/bin/Debug/netcoreapp3.1/InterjuFeladat.deps.json
/InterjuFeladat/InterjuFeladat/obj/Debug/netcoreapp3.1/InterjuFeladat.csproj.CopyComplete
/InterjuFeladat/InterjuFeladat/obj/Debug/netcoreapp3.1/InterjuFeladat.csproj.CoreCompileInputs.cache
/InterjuFeladat/InterjuFeladat/obj/Debug/netcoreapp3.1/InterjuFeladat.csproj.FileListAbsolute.txt
/InterjuFeladat/InterjuFeladat/obj/Debug/netcoreapp3.1/InterjuFeladat.dll
/InterjuFeladat/InterjuFeladat/obj/Debug/netcoreapp3.1/InterjuFeladat.exe
/InterjuFeladat/InterjuFeladat/obj/Debug/netcoreapp3.1/InterjuFeladat.genruntimeconfig.cache
