################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InterjuFeladat/InterjuFeladat/obj/Debug/netcoreapp3.1/InterjuFeladat.pdb
